# Node modules
node_modules/

# Environment variables
.env

# Build output
dist/
build/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDEs and editors
.vscode/
.idea/

# NPM package-lock file
package-lock.json

# Optional: if you're using yarn
yarn.lock
